.filter-icon {
  padding: 10px;
  border-radius: 50px;
  background-color: white;
  border: 1px solid #ebe4e4;
  cursor: pointer;
}

/* .filter-icon.active {
  border: 1px solid black;
  background-color: #8fbf00;
  border: 1px solid white;
  color: white;
} */

/* .filter-icon:hover {
  border: 1px solid black;
  background-color: #8fbf00;
  border: 1px solid white;
  color: white;
} */

.filter-icon select {
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
}

.filter-icon option {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400 !important;
  border: none !important;
}

.filter-icon p {
  margin-bottom: 0px !important;
}

/* test */

fieldset.MuiOutlinedInput-notchedOutline.css-igs3ac {
  border: none !important;
}
.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-feqhe6 {
  vertical-align: unset !important;
  border: none !important;
}

.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-segi59 {
  padding: 0px !important;
  border: 1px solid #ebe4e4;
  border-radius: 50px;
  outline: none;
}

fieldset.MuiOutlinedInput-notchedOutline.css-igs3ac {
  border: none !important;
}
.css-qiwgdb {
  padding: 10.5px 14px I !important;
}

.form-div .my-class.matirial-select.MuiFormControl-root {
  vertical-align: baseline;
  margin: 0px;
}

.form-div
  .my-class.matirial-select
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none;
}

.form-div .my-class.matirial-select .MuiOutlinedInput-root {
  border-radius: 50px;
  border: 1px solid #ebe4e4;
}

.form-div
  .my-class.matirial-select
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px;
}

.form-div
  .filter-bar-main
  .css-16awh2u-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  padding: 0px !important;
}

/* Auto complete */

.form-div .my-auto-class.css-g6lq71-MuiAutocomplete-root {
  border: 1px solid #ebe4e4;
  border-radius: 50px;
  outline: none !important;
}
.form-div
  .my-auto-class.css-g6lq71-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  padding: 0px !important;
}
.form-div .my-auto-class .css-wb57ya-MuiFormControl-root-MuiTextField-root {
  vertical-align: baseline !important;
  margin: 0 !important;
}

.form-div .my-auto-class .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.form-div
  .my-auto-class.css-g6lq71-MuiAutocomplete-root
  .MuiOutlinedInput-root
  .MuiAutocomplete-input {
  padding: 7.5px 4px 7.5px 15px !important;
}

.filter-bar-main {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  overflow-x: scroll;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .filter-bar {
    overflow-x: scroll;
  }
  .filter-bar-main {
    justify-content: space-between;
  }
  .filter-icon {
    margin-left: 10px;
  }
  .filter-icon p {
    width: 100px;
  }
  .matirial-select.MuiFormControl-root {
    margin-left: 10px;
  }

  /* .filter-icon {
    padding: 5px;
  }
  .filter-icon p {
    font-size: 11px;
  }
  .filter-icon select {
    font-size: 11px;
  } */
}

@media screen and (max-width: 767px) {
  .filter-bar {
    overflow-x: scroll;
  }
  .filter-bar-main {
    justify-content: space-between;
  }
  .filter-icon {
    margin-left: 10px;
  }
  .filter-icon p {
    width: 100px;
  }
  .matirial-select.MuiFormControl-root {
    margin-left: 10px;
  }
  /* .filter-icon {
    padding: 5px;
  }
  .filter-icon p {
    font-size: 9px;
  } */
  .service-search-button {
    padding: 10px 0px;
    width: 70%;
  }
}
